.input-group {
  margin-top: 1rem;
  margin-bottom: 2.5rem; }
  .input-group label {
    display: block;
    margin-bottom: .7rem; }

.iv-input {
  display: block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  border: 1px solid #ccc; }
  .iv-input:focus {
    outline: 0;
    border-color: #03A9F4; }
  .iv-input.iv-success {
    border-color: #27AE60;
    color: #1c7c44; }
  .iv-input.iv-error {
    border-color: #E74C3C;
    color: #cd2a19; }

.iv-message {
  font-size: 1.3rem;
  color: #cd2a19; }
