<h4>Code for this validation</h4>

<div class="tabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ex-password-js" aria-controls="ex-password-js" role="tab" data-toggle="tab">JavaScript</a></li>
    <li role="presentation"><a href="#ex-password-html" aria-controls="ex-password-html" role="tab" data-toggle="tab">HTML</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ex-password-js">{% highlight javascript %}Validator.fn.password = function() {
  return /^(?=.*\d)(?=.*[a-zA-Z]).*$/.test(this.value); 
};

var passwordInput = new Validator.init(document.getElementById('password'), {
  rules: {
    required: true,
    password: true,
    min: 8
  },
  messages: {
    password: 'Password should contain letters and numbers. %data% is invalid password'
  },
  onError: onError,
  onSuccess: onSuccess
});
var validatePasswordBtn = document.getElementById('validate-password');
validatePasswordBtn.addEventListener('click', function(e) {
  passwordInput.validate();
}, false);{% endhighlight %}</div>
    <div role="tabpanel" class="tab-pane" id="ex-password-html">{% highlight html %}<div class="input-group center-block">
  <label for="password">Your password:</label>
  <input type="text" class="form-control" id="password" placeholder="example@password.com">
  <span id="password-error-container" class="help-block">Enter your password</span>
  <button class="btn btn-default" id="validate-password">Validate password</button>
</div>{% endhighlight %}</div>
  </div>

</div>