<header class="site-header container-fluid">
  <div class="container">
    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <nav class="site-nav">
      <a href="{{ site.baseurl }}/examples" class="btn btn-default"><i class="fa fa-code"></i>Examples</a>
      <a href="{{ site.baseurl }}/documetation/" class="btn btn-default"><i class="fa fa-list-alt"></i>Documentation</a>
      <a href="https://github.com/rtivital/validate" class="btn btn-default"><i class="fa fa-github"></i>Github</a>
    </nav>
  </div>
</header>