html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	color: #222;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.65;
} 

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
}

p {
	margin-top: 0;
}

a {
	color: $blue;
	text-decoration: none;
	transition: color 200ms;
	&:hover {
		color: $dark-blue;
	}
}

.container {
	max-width: 800px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	@include center;
} 




