%btn {
	display: inline-block;
	padding: .9rem 1.8rem;
	font-size: 1.3rem;
	font-weight: bold;
	// text-transform: uppercase;
	border-radius: 4px;
}

.btn-primary {
	@extend %btn;

	background-color: $light-blue;
	color: $white;
	border: 1px solid $blue;
	transition: all 200ms;

	&:hover {
		color: $white;
		background-color: $blue;
	}
}

.btn-default {
	@extend %btn;
	background-color: $white;
	color: $black-gray;
	border: 1px solid $light-gray;
	transition: all 200ms;

	&:hover {
		color: $black;
		background-color: $white-gray;
	}

	&:active {
		background-color: darken($white-gray, 5%);
	}

	&:focus {
		outline: 0;
		color: $black;
		border-color: $light-blue;
	}
}

.btn-icon {
	position: relative;
	padding-left: 4.5rem;
	.fa {
		position: absolute;
		left: 1.5rem;
		top: .9rem;
		bottom: 0;
		font-size: 2rem;
	}
}




