.input-group {
	margin-top: 1rem;
	margin-bottom: 2.5rem;

	& label {
		display: block;
		margin-bottom: .7rem;
	}
}

.fv-input, .fv-textarea {
	display: block;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .7rem;
	padding-bottom: .7rem;

	border: 1px solid #ccc;

	&:focus {
		outline: 0;
		border-color: $light-blue;
	}

	&.fv-success {
		border-color: $light-green;
		color: $dark-green;

		&:focus {
			outline: 2px solid;
		}
	}

	&.fv-error {
		border-color: $light-red;
		color: $dark-red;
	}
	&.fv-warning {
		border-color: $yellow;
		color: $dark-yellow;
	}
}

.fv-submit {
	@extend .btn;
}

.fv-message {
	font-size: 1.3rem;

	&-warning {
		color: $dark-yellow;
	}

	&-success {
		color: $dark-green;
	}

	&-error {
		color: $dark-red;
	}
}