$white: #fff;
$white-gray: #f5f5f5;
$light-gray: #ccc;
$gray: #999;
$dark-gray: #555;
$black-gray: #333;
$black: #222;

// Primary Colors
$light-blue:	#03A9F4 !default;
$blue: 				darken($light-blue, 5%) !default;
$dark-blue:		darken($blue, 7%) !default;

// Success Colors
$light-green:	#27AE60 !default;
$green: 			darken($light-green, 5%) !default;
$dark-green:	darken($green, 7%) !default;

// Warning Colors
$light-yellow:	#E8B51F !default;
$yellow:				darken($light-yellow, 5%) !default;
$dark-yellow:		darken($yellow, 7%) !default;

// Error Colors
$light-red:	#E74C3C !default;
$red:				darken($light-red, 5%) !default;
$dark-red:	darken($red, 7%) !default;